/* MOBILE */
.cabecalho__container{
    display: flex;
    width: 100vw;
    height: 57px;
    background: blue;
    align-items: center;
    background: var(--branco);
}

.cabecalho__menu--img{
    height: 26px;
    width: 6px;
    margin-left: 2rem;
}

.cabecalho__logo{
    display: flex;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    transform: translateX(-50%);
}
.cabecalho__logo--paragrafo, .cabecalho__logo--span{
    display: none;
}

.cabecalho__navegacao{
    display: none;
}

/* MEDIA QUERIES DESKTOP */

@media screen and (min-width: 1490px){
    .cabecalho__container{
        width: 100vw;
        height: 100px;
        justify-content: space-between;
    }
.cabecalho__menu--img{
    display: none;
}

.cabecalho__logo{
    width: 100vw;
    margin: 2rem 3rem;
    transform: none;
    align-items: center;
}

.cabecalho__logo--img {
    width: 70px;
    height: 70px;
    margin-right: 1.4rem;
}
.cabecalho__logo--paragrafo, .cabecalho__logo--span{
    display: flex;
}
.cabecalho__logo--paragrafo{
    font-size: 40px;
    flex-direction: column;
    font-weight: 700;
    color: var(--marrom-areia)
}
.cabecalho__logo--span{
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: .2rem;
}

.cabecalho__navegacao{
    display: flex;
    padding-right: 3rem ;
}
.cabecalho__lista{
    display: flex;
}

.cabecalho__lista--li{
    padding-right: 4rem;
    font-weight: lighter;
    color: var(--marrom-areia);
    white-space: nowrap;
    letter-spacing: .2rem;
    cursor: pointer;
    text-transform: uppercase;
}
}